.AddProDiv {
    /* border: 1px solid red; */
    padding: 20px ;
    width: 83vw;
    /* display: flex; */
    /* margin-left: -41rem; */
}

.mainDetails {
    /* border: 1px solid; */
    padding: 20px ;
    margin-top: 20px;
}

.mainDetails h2 {
    font-weight: bolder;
    color: #838383;
}

.Inputs{
    margin: 20px 1rem 1rem 1rem !important;
    width: 30%;
    /* border: 1px solid red; */
}
.supplier{
    /* border: 1px solid; */
    margin-top: 0;
}
.addItemBtn {
    /* border: 1px solid; */
    margin-top: 10px !important;
    position: absolute !important;
    right: 8rem;
    width: 10%;
    transition: all 0.5s !important;
}

.addItemBtn:hover {
    width: 12%;
}
