* {
  padding: 0px;

}

.sign_btn {
  width: 60%;
  background-color: cornflowerblue;
  /* border: 1px solid cornflowerblue; */
  border-radius: 5px;
  text-align: center;
  color: white;
  height: 7vh;
  font-size: 20px;
  transition: all 0.5s;
  margin: 2rem auto;
  display: block;
  cursor: pointer;
}

.sign_btn:hover {
  background-color: #2b6de3;
  color: white;
}
